.logo {
  width: 150px !important;
  height: 150px !important;
  align-self: center !important;
}

h2 {
  font-size: 1.5rem !important;
}

.offer-link {
  cursor: pointer !important
}

.link:hover {
  text-decoration: underline;
}