.cnt {
  max-width: 1400px !important;
  width: 80% !important;
}

@media only screen and (max-width: 1140px) {
  .cnt {
    width: 100% !important;
  }
}

.logo {
  max-width: 80px !important;
  max-height: 80px !important;
  width: auto;
  height: auto;
}

h2 {
  font-size: 1.5rem !important;
}

.offer-link {
  cursor: pointer !important
}

.link:hover {
  text-decoration: underline;
}

.fav-star:hover{
  color: #feb903
}

.fav-saved{
  color: #feb903
}

.fav-text{
  color: rgb(178, 178, 178);
}

.black {
  color: black;
}

.benefit-item {
  width: 42px;
  height: 42px;
  background: rgb(218, 238, 245);
    background: linear-gradient(135deg, rgba(218, 238, 245, 1) 50%, rgba(206, 232, 241, 1) 50%);
  border-radius: 50%;
  flex: 0 0 42px
}

.offer-sidebar-button:hover {
  color: var(--bs-info);
  cursor: pointer;
}