.cnt {
  max-width: 80% !important;
}

@media only screen and (max-width: 1140px) {
  .cnt {
    max-width: none !important;
  }
}

.logo {
  width: 50px !important;
  height: 50px !important;
}

h2 {
  font-size: 1.5rem !important;
}

.offer-link {
  cursor: pointer !important
}

.link:hover {
  text-decoration: underline;
}

.fav-star:hover{
  color: #feb903
}

.fav-saved{
  color: #feb903
}

.fav-text{
  color: rgb(178, 178, 178);
}